@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    height: 300px; 
    overflow: auto; 
  }
  